
<img src="{{url_imagen}}" width="300px">
<div class="pregunta" (click)="comprobar(n1)" [style.background]=" contestada==true&&n1==number ? 'green' :'white'">{{p1}}</div>
<div class="pregunta" (click)="comprobar(n2)" [style.background]=" contestada==true&&n2==number ? 'green' :'white'">{{p2}}</div>
<div class="pregunta" (click)="comprobar(n3)" [style.background]=" contestada==true&&n3==number ? 'green' :'white'">{{p3}}</div>
<div class="pregunta" (click)="comprobar(n4)" [style.background]=" contestada==true&&n4==number ? 'green' :'white'">{{p4}}</div>

<h3>Puntuación</h3>
<h4>{{puntuacion}}</h4>