<div id="container-punt">
    <h3>Puntuación: &nbsp;<span>{{puntuacion}}</span></h3>
    <h3 id="span-vida">Vida:&nbsp; <span>{{vida}}</span></h3>
</div>

<h2>{{categorias[categoriaSelected]}}</h2>
<div id="div-todo">
    <img src="{{url_imagen}}" width="300px">
<h4>{{texto_nombre_poble}}</h4>
    <div id="div-preguntas">
       <div class="pregunta" (click)="comprobar(n1,1)"  [style.background]="p1_color">{{p1}}</div>
       <div class="pregunta" (click)="comprobar(n2,2)"  [style.background]="p2_color">{{p2}}</div>
		<div class="pregunta" (click)="comprobar(n3,3)"  [style.background]="p3_color">{{p3}}</div>
		<div class="pregunta" (click)="comprobar(n4,4)"  [style.background]="p4_color">{{p4}}</div>
    </div>
</div>
