

<header>
	<img src="../logo.png">
	<h1>QueryQuiz</h1>

</header>

<h3>Tu localización actual es</h3>
<h2 id="ubi" class="label-ubic">Alicante <a><i class="fas fa-exchange-alt"></i></a>
</h2> 
<div class="content">
	<button>JUGAR</button>

	 <div class="card">   
	 	<div class="card-info">
		<h2>¿Como jugar?</h2>
		<p>Seleccionaremos tu localizaci&oacute;n. Podr&aacute;s cambiarla en el boton cambiar. Una vez seleccionada, tendr&aacute;s que responder a las preguntas que se te propongan.</p>

	</div>

	 </div>


	

</div>



